body, html {
	padding: 0;
	margin: 0;
	background-color: #dcdee4;
	font-family: "Open Sans", "Noto Sans", "Lato", "Arial", sans-serif;
	color: #274f7e;
}

h2 {
	color: #199cd4;
}

h1, h2, .center {
	text-align: center;
}

h1, h2, h3{
	padding: 0 10px;
}

h2 code {
	font-size: 24px;
}

li{
	padding: 3px 0;
}

code {
	background-color: #b1b2b7;
	color: #fff;
	font-size: 14px;
	border: 1px solid #939598;
	padding: 1px 6px;
	border-radius: 4px;
}

a {
	color: #4a98c6;
	text-decoration: none;
}

a:hover {
	color: #199cd4;
}
