body, html {
	padding: 0;
	margin: 0;
	background-color: #dcdee4;
}

img {
	max-width: 100%;
}

h1, h2 {
	text-align: center;
	font-family: "Open Sans", "Noto Sans", "Lato", "Arial", sans-serif;
	color: #274f7e;
}
